html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#map-canvas { height: 100%; }
#time-line {
    position: absolute;
    bottom: 10px;
    /*height: 150px;*/
    width: 90%;
    z-index: 0;
    background: rgba(255,255,255, 0.4);
    margin-left: 5%;

/*    margin-left: -100%;
    margin-right: -100%;*/
    text-align: center;
    display: none;
}
#panel {
    position: absolute;
    top: 40px;
    width: 240px;
    height: 30px;
    left: 30px;
    
    z-index: 5;
    background: rgba(255,255,255,0.4);

    text-align: center;
    display: none;
}
#ply_panel {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 240px;
  height: 70px;
  z-index: 0px;
  background: rgba(0,0,0,0.6);
  display: none;
  font-size: 16px;
}
#prv_panel {
  position: absolute;
  top: 140px;
  left: 30px;
  width: 120px;
  height: 70px;
  z-index: 0px;
  background: rgba(0,0,0,0.6);
  display: none;
  font-size: 16px;
}
#next_panel {
  position: absolute;
  top: 140px;
  left: 150px;
  width: 120px;
  height: 70px;
  z-index: 0px;
  background: rgba(0,0,0,0.6);
  display: none;
  font-size: 16px;
}
#info_panel {
  position: absolute;
  top: 210px;
  left: 30px;
  width: 240px;
  height: 360px;
  z-index: 0px;
  background: rgba(0,0,0,0.6);
  display: none;
  font-size: 16px;
}
/*#legend {
    position: absolute;
    bottom: 0px;
    width: 200px;
    height: 100px;
    left: 50px;
    margin-left: 0px;
    z-index: 5;
    background: rgba(255,255,255);
}*/
a { text-decoration: none; margin: 0 10px; }
a.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  /*border-bottom-width: 3px;*/
}

  a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
  }
  
  a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
  }
a.btn.btn-right {
  margin-right: 0px;
}
#time-line1 {
    position: absolute;
    bottom: 10px;
    width: 1200px;
    height: 240px;
    left: 50px;
    margin-left: 0px;
    z-index: 5;
    background: rgba(255,255,255);
    text-align: center;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 6;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  z-index: 6;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  z-index: 6;
}
#back_btn {

    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}
#next_btn {

    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}

#before_btn {

    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}
#step {

    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}


div.time {
    font-size: 80%;
}

#pos {
    font-size: 80%;
}


.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
    path,
    line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
    }
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.1;
}
